/*__global css for connexion page__*/

html{
    background-image: url('../images/imageConnexion.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    text-align : center;
}

.containers{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left : -125px ;
    width : 250px;
    background-color : #ffffff;
    border-radius : 50px;
}


/*__In the body__*/

.spaceBottomConnexion{
    padding-bottom : 40px;
}

.spaceformeConnexion{
    margin-top : 20px;
}
.inputTextCenter{
    padding-left : 10%;
}

.spaceBottomConnexion{
    padding-bottom : 40px;
}

.spaceformeConnexion{
    margin-top : 20px;
}
.inputTextCenter{
    padding-left : 10%;
}

/*__Error message style__*/

.errorMessage{
    color: #FF7659;
}