
/*______ global css ______*/

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#header{
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}
#menu{
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    width: 20%;
    min-width: 120px;
    max-width: 300px;
}
#body{
    background-color: #fff2cc;
    color: #000000;
    font-size: 14px;
}
#content{
    padding: 10px;
}
#footer{
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
}

.inlineBlock{
    display: inline-block;
}

.containerFlex{
    display: flex;
}
.flexGrowOne{
    flex-grow: 1;
}

/*______ formulary css ______*/

.responsiveForm{
    width: 50%;
    min-width : 600px;
    margin : 0 auto;
}

.responsiveInput{
    width : 100%;
    /*display: flex;*/
}

.responsiveInput > *, .responsiveSubmit{
     /*width: 32%;*/

     display: flex;
}

.responsiveInput > *:first-child > *{
    width : 50%;
}

.responsiveInput > *:first-child > *:nth-child(2) > *:first-child{
    width: 100%;

}

.responsiveInput > *:nth-child(2){
    width: 99%;
}

.responsiveSubmit > *{
    width: 25%;
    margin : 0 12.5% !important;
}

/*______ title css ______*/

h1{
    text-align : center ;
    margin : 20px 0 ;
}

/*______ header css ______*/

#header #headerLogoBlock{
    width: fit-content;
    text-align: center;
}
#header #headerLogo{
    height: 80px;
}

#header #headerMainContainer{}

#header #headerLoginBlock{
    text-align: right;
}
#header #headerLoginButton{}
#header #headerMenuButtonContainer{}
#header .headerMenuButton{
    margin-top: 10px;
}
#header #headerLanguageButtonContainer{}
#header .headerLanguageButton{
    margin-top: 10px;
}

/*______ menu css ______*/

#menu a{
    text-decoration: none;
    color: #ffffff;
}
#menu a:hover{
    margin-left: 3px;
}

/*______ footer css ______*/

#footer > p{
    text-align: center;
    font-style: italic;
}

#footer .blockFooter:nth-child(1n+2){
    border-left: solid white 3px;
}

/*______ other css ______*/

#container {
width:100%;
}
#content {
float:left;
width:100%;
}
#footer {
clear:both; /*No floating elements are allowed on left or right*/
text-align:center;
font-weight: bold;
}
.errorMessage {
color: red;
}

/*______ catalogue css ______*/

#catalogue #formTableProduct th:hover{
    color: #000;
    background-color: #eee;
}

.tableFilter td{
    border: none !important;
    padding: 0 !important;
}